@import url('/home/user0/.cache/wal/colors-waybar.css');

* {
  border: none;
  border-radius: 0;
  font-family: "Symbols Nerd Font Mono";
  font-weight: bold;
  font-size: 10px;
  min-height: 0px;
}

window#waybar {
  background-color: rgba(0,0,0,0);
  color: @foreground;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @foreground;
}

#workspaces button {
  padding: 0px;
  color: @color3;
  margin-right: 0px;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button.focused {
  color: @color2;
  background: @color1;
  border-radius: 0px;
}

#workspaces button.urgent {
  color: @background;
  background: @color7;
  border-radius: 0px;
}

#workspaces button:hover {
  background: @color6;
  color: @foreground;
  border-radius: 0px;
}



#workspaces,
#mode,
#scratchpad,
#window,
#custom-power_profile,

#clock,
#tray,

#custom/weather,
#idle_inhibitor,
#wireplumber,
#wireplumber.muted,
#wireplumber.microphone,
#pulseaudio,
#custom-spotify,
#mpd,
#backlight,
#keyboard-state,
#language,
#bluetooth,
#network,
#cpu,
#memory,
#temperature,
#battery,








#workspaces {
  background: @background;
  /*border-radius: 10px;
  margin-left: 10px;
  padding-right: 5px;
  padding-left: 5px;*/
  opacity: 1;
  padding: 3px 3px;
  margin: 0px 0px;
  margin-top: 0px;
  border: 1px solid @foreground;
}






#window {
  background: @background;
  border-radius: 0 5px 5px 0;
  margin-right: 2px;
  border-left: 0px;
}

#custom-power_profile {
  color: @color0;
  border-left: 0px;
  border-right: 0px;
}

#tray {
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 7px;
}

#clock {
  color: @color4;
  border-radius: 5px; 
}

#wireplumber {
  color: @color5;
  border-radius: 5px 0px 0px 5px;
  /* border-left: 0px; */
}

#wireplumber.microphone {
  color: @color8;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 5px 5px 0px;
  margin-right: 0px;
}

#pulseaudio {
  color: @color5;
  border-radius: 5px 0px 0px 5px;
  /* border-left: 0px; */
  border-right: 0px;
}

#custom-spotify {
  min-width: 140px;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  padding: 0 10px;
  color: @color5;
  padding: 0px 10px;
  margin: 0px 0px;
  margin-top: 0px;
}

#mpd {
  background-color: @color10;
  color: @color9;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: @color8;
}

#mpd.paused {
  background-color: @color7;
}

#backlight {
  background: @background;
  border-radius: 0 5px 5px 0;
  margin-right: 2px;
  border-left: 0px;
}

#language {
  background: @background;

  border-radius: 5px 0px 0px 5px;
  /* border-left: 0px; */
  border-right: 10px;
}

#bluetooth {
  color: @color4;
  border-radius: 0px 0px 0px 0px;
  border-right: 0px;
  /* margin-right: 10px; */
}

#network {
  color: @color1;
}

#cpu {
  color: @color5;
  border-left: 0px;
}

#memory {
  color: @color5;
  border-left: 0px;
}

#temperature.critical {
  color: @color1;
  border-left: 0px;
}

#battery {
  color: @color5;
  border-left: 0px;
  border-radius: 0 0px 3px 0;
  margin: 0px 2px;
}

